{% extends 'myapp/base.html' %}
{% block content %}
<style>
    .container{
        padding: 0%;
        margin-left: 15%;
       

    }
</style>
<div class="container">
<h3>{{msg}}</h3>
<h2 >List of Bookings</h2>
<table class="table table-striped">
    <thead style="background-color: blue;color: white;">
    <td>BOOKING ID</td>
    <td>BUS NAME</td>
    <td>DEPARTS FROM</td>
    <td>DESTINATION</td>
    <td>SEATS BOOKED</td>
    <td>PRICE PER SEAT</td>
    <td>BOOKING TIME</td>
    <td>DEPARTURE DATE</td>
    <td>DEPARTURE TIME</td>
    <td>JOURNEY DURATION</td>
    <td>STATUS</td>


    </thead>

    {% for x in booking_list %}
    <tr>
        <td>{{x.booking_id}}</td>
        <td>{{x.bus_id.bus_name}}</td>
        <td>{{x.bus_id.r_id.source}}</td>
        <td>{{x.bus_id.r_id.dest}}</td>
        <td>{{x.no_seats}}</td>
        <td>{{x.bus_id.price}}</td>
        <td>{{x.create_date}}</td>
        <td>{{x.bus_id.date}}</td>
        <td>{{x.bus_id.time}}</td>
        <td>{{x.bus_id.r_id.duration}}</td>
        <td>{% if x.status %}<p style="color:green;">BOOKED</p>{% else %}<p style="color:red;">CANCELLED</p>{% endif %}</td>


    </tr>
    {% endfor %}
</table>
<form action="{% url 'cancellings' %}" method="post">
    <h3>Choose a booking to cancel</h3>
    {% csrf_token %}
    <div class="col-auto">
        <label for="example-email-input" class="col-2 col-form-label">Booking ID</label>
        <div class="col-5">
            <input name='bk_id' class="form-control" type="number">
        </div>
    </div>

    <br>
    <div class="pull-right">
        <button type="submit" class="btn btn-danger float-left">Cancel Booking</button>
    </div>
    <br>
    <br>
</form>
<p style="color:red; font-size:160%;">{{error}}</p>
</div>

{% endblock %}